@media (prefers-color-scheme: dark) {
  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution,
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip
  {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
}

main {
  width: 100%;
  height: 100%;
  margin: 1rem;
  display: block;
  justify-content: center;
}

h1 {
  width: 100%;
  overflow: auto;
}

.leaflet-marker-icon {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

#demo {
  color: #000;
  width: 20%;
  height: 20%;
}

#map {
  width: 90%;
  height: 80vh;
  position: relative;
}

#recenter-map {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000;
}